accelerate==0.28.0
bitsandbytes==0.43.1
git+https://github.com/openai/CLIP.git
ConfigArgParse==1.7
datasets==2.14.5
diffusers==0.24.0
DISTS-pytorch==0.1
dreamsim==0.1.3
einops==0.7.0
gradio==3.20.1
huggingface-hub==0.21.4
jsonlines==4.0.0
kornia==0.6.12
lpips==0.1.4
numpy==1.24.3
omegaconf==2.3.0
open-clip-torch==2.24.0
opencv-python==4.7.0.72
peft==0.1.0
pytorch-lightning==2.2.5
safetensors==0.4.2
scipy==1.11.1
tensorboard==2.14.0
timm==0.9.5
torch==2.0.1
torch-fidelity==0.3.0
torchaudio==2.0.2
torchmetrics==0.11.4
torchsummary==1.5.1
torchvision==0.15.2
tqdm==4.65.0
transformers==4.26.1
triton==2.0.0
